/* global.css */
:root {
  /* Light theme colors */
  --color-bg-light: #f7fafc; /* Light background color */
  --color-bg-dark: #2d3748; /* Dark background color (fallback) */
  --color-text: #111827; /* Default text color */
  --color-text-dark: #f9fafb; /* Dark text color (fallback) */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Override for dark theme */
    --color-bg-light: #2d3748; /* Dark background color */
    --color-bg-dark: #1a202c; /* Alternative dark background color if needed */
    --color-text: #f9fafb; /* Dark text color */
    --color-text-dark: #e2e8f0; /* Alternative dark text color if needed */
  }
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.dark body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}

.container {
  padding: 1rem;
  background-color: var(--color-bg-light);
  color: var(--color-text);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.dark .container {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}
